body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 0;
}

.createBox {
  background-color: gray;
  padding: 20px 40px;
  margin-top: 100px;
}

.inputBox {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

label {
  margin-right: 20px;
  font-weight: bold;
}

.sendBox {
  margin: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.server-status {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.success {
  color: green;
}

.failure {
  color: red;
}
